.user{
    display: grid;
    grid-template-columns: 6.5rem 1fr;
    grid-column-gap: 1rem;
    
    &__name{
        grid-column: 2/-1;
        font-size: 2rem;
        color: var(--color-blue);
        align-self: flex-end;
        font-weight: 400;
    }
    &__email{
        grid-column: 2/-1;
        color: #606060;
        margin-top: -.4rem;
    }
    &__img{
        border: .5px solid #2e186a59;
        grid-row: 1/span 2;
        width: 100%;
        border-radius: 14px;

        height: 100%;
        object-fit: cover;
    }
}
