.mbt {
  margin: 2.4rem 0;
}
.ml {
  margin-left: 1.5rem;
}
.mb-sm {
  margin-bottom: 1.2rem;
}
.mb-sm2 {
  margin-bottom: 1rem;
}
.mg-xl {
  margin: 12rem 0;
}
.mg-xl2 {
  margin-bottom: 12rem;
}
.mt- {
  margin-top: -3rem;
}
